@page "/"
@using AdminPanel_Beta.Models
@attribute [Authorize]
@inject Facade facade

<PageTitle>Dashboard</PageTitle>

<div class="row dashboard_row">
    <div class="col-4">
        <div class="card dashboard-card">
            <div class="card-body">
                <h1 class="primary_text text_center">
                    @facade.context.Users.Count(s=>s.IsActive)
                </h1>
            </div>
            <div class="card-footer">
                <h4 class="primary_text text_center">Users</h4>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card dashboard-card">
            <div class="card-body">
                <h1 class="primary_text text_center">
                   @facade.context.Assessments.Count(s=>s.IsActive)
                </h1>
            </div>
            <div class="card-footer">
                <h4 class="primary_text text_center">Assessments</h4>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card dashboard-card">
            <div class="card-body">
                <h1 class="primary_text text_center">
                    @facade.context.Questions.Count()
                </h1>
            </div>
            <div class="card-footer">
                <h4 class="primary_text text_center">Active Questions</h4>
            </div>
        </div>
    </div>
</div>

@code{

    

}