@using AdminPanel_Beta.Models
@inject Facade facade
@page "/ResultGroups/Index"


<PageTitle>Result Groups</PageTitle>


<h3 class="primary_text">Result Groups</h3>


<br/>
<br/>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">

        <label>Keyword</label><br/>
        <input @bind="Keyword" class="form-control m-3"/>
        <button class="btn btn-primary float-end" @onclick="onSearch">Search</button>
        <button class="btn float-end" @onclick="onClear">Clear</button>

    </div>
    <div class="col-3"></div>
</div>

<br/>
<br/>
<br/>


<table class="table table-light table-bordered table-responsive table-striped">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in dataList)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Description
            </td>

            <td>
                <div class="w-auto">
                    <a href="/Edit/@item.Id">
                        <button class="btn btn-light m-1">Edit</button>
                    </a>
                    <a href="/Details/@item.Id">
                        <button class="btn btn-primary m-1">Details</button>
                    </a>

                    <button class="btn btn-danger m-1">Delete</button>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    private string Keyword = "";
    private List<AssessmentResultGroup> dataList = new List<AssessmentResultGroup>();

    private void onSearch()
    {
        dataList = facade.GetGroups(Keyword);
    }

    private void onClear()
    {
        Keyword = "";
        dataList = facade.GetGroups(Keyword);
    }

    protected override Task OnInitializedAsync()
    {
        dataList = facade.GetGroups(Keyword);

        return base.OnInitializedAsync();
    }

}