
<div class="row h-100 align-content-center align-items-center">
    <img style="margin:auto; height:500px;" src="img/undraw_access_denied_re_awnf.svg" />
    <h3 class="d-inline justify-content-center m-5 primary_text text_center fw-bold">Access Denied</h3>
</div>


@code {

}
